.weather-container {
  height: 100%;
  width: 100%;
  text-align: center;
  margin: 0.5rem;
}

.weather-icon {
  height: 30%;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

.weather-icon > img {
  width: 100%;
  height: auto;
}

.weather-info {
  margin: 0.5rem;
}
